body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.navtitle{
    font-family: 'Volkhov', serif;
    letter-spacing: 2px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0 !important;
}

.subTitle{
    text-align: center;
}

.openbook{
    z-index: 10;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    width: 300px;
    align-self: center;
    top:50px;
}

.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 17%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    display: flex;
    flex-direction: column;
    width: 700px;
    border-top-left-radius: 5% 30%;
    border-bottom-left-radius: 5% 30%;
}

.infoBanner{
    position: relative;
    top:-10px;
    margin-top: 30px;
    margin-left: 50px !important;
    background: url("../media/AdBanner-01.png") no-repeat scroll 50% 50% ;
    background-size: 100%;
    height: 600px;
    width: 100%;
}

.bannerTextBlock{
    margin-top: 100px;
}

.bannerTitle{
    text-shadow: -8px -5px #6B6F76;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 5em;
}

.bannerSubTitle{
    text-shadow: -8px -5px #6B6F76;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3em;

}

.bannerParagraph{

}

.bookcover {
    position: absolute;
    top: 40px;
    right: -68px;
    height: 700px;
    width: 1000px ;
    z-index: -10;
    transform: scale(1.2, 1.75);
}

.bookcover .first {
    position: absolute;
    top: 40px;
    right: -68px;
    height: 700px;
    width: 1000px ;
    z-index: -10;
    transform: scale(1.3, 1.75);
}

.bookcover:nth-child(2) {
    position: absolute;
    top: 40px;
    right: -68px;
    height: 700px;
    width: 1000px ;
    z-index: -10;
    transform: scale(1.4, 1.75);
}

.bookcover:nth-child(3) {
    position: absolute;
    top: 40px;
    right: -68px;
    height: 700px;
    width: 1000px ;
    z-index: -10;
    transform: scale(1.5, 1.75);
}

.bookcover:nth-child(4) {
    position: absolute;
    top: 40px;
    right: -68px;
    height: 700px;
    width: 1000px ;
    z-index: -10;
    transform: scale(.96, 2.5);
}


.bookspace{
    margin: 20px 0 0 0 !important;
    width: 100%;
}

.register-left .stack{
    position: relative;
    top: -20px;
    left: 100px;
    margin-top: 15%;
    margin-bottom: 5%;
    width: 200%;
}
.register-left .book{
    position: absolute;
    top: -250px;
    left: 100px;
    z-index: 10;
    margin-top: 15%;
    margin-bottom: 5%;
    width: 175%;
    animation: mover 5s forwards ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: mover;
}

@keyframes mover {
    0% { transform: rotate(0deg) translateX(75px) rotate(0deg); opacity:0.0; }
    40% { transform: rotate(0deg) translateX(75px) rotate(0deg); opacity:8.0; }
    93%{ transform: rotate(-180deg) translateY(-200px) rotate(-180deg); opacity:9.0}
    /*90%{ transform: rotate(-180deg) translateY(-100px) rotate(-180deg); opacity:1.0}*/
    94%{ transform: translateY(210px); opacity:1.0 }
    96%{ transform: translateY(205px); opacity:1.0 }
    100%{ transform: translateY(210px); opacity:1.0 }
}
@-webkit-keyframes mover {
    0% { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);opacity:0.0; }
    40% { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);opacity:8.0; }
    94%{ -webkit-transform: rotate(-180deg) translateX(50px) rotate(-180deg); opacity:9.0}
    94%{ transform: translateY(210px); opacity:1.0}
    96%{ transform: translateY(205px); opacity:1.0}
    100%{ transform: translateY(210px); opacity:1.0}
}

.revealedLinks{
    display: flex;
    flex-direction: column;
    position: relative;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: left;
    padding-left: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    top: 25px;
    right: 200px;
    z-index: 15;
    animation: mover 4s forwards ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: reveal;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

@keyframes reveal {
    0%{ transform: translateY(0px); opacity:0.0 }
    50%{ transform: translateY(-200px); opacity:0.0 }
    100%{ transform: translateY(0px); opacity:1.0 }
}

#bookmark {
    /*width: px;*/
    display: block;
    height: 380px;
    background-color: transparent;
    position: absolute;
    top: -100px;
    /*right: 200px;*/
    border: solid 150px  #B13A22;
    border-bottom: solid 50px transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.2s;
    animation: mover 4s forwards ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: bookmarkDrop;
}
#bookmark:after {
    content: "";
    position: relative;
    right: 120px;
    top: -50px;
/*    height: 200px;*/
    border: 90px solid #b13a22;
/*    border-bottom: solid 120px transparent;*/
/*    border-top-left-radius: 75px;*/
/*    border-top-right-radius: 75px;*/
width: 100px;
height: 120px;
}

@keyframes bookmarkDrop {
    0%{ transform: translateY(0px); opacity:0.0 }
    50%{ transform: translateY(-200px); opacity:0.0 }
    100%{ transform: translateY(0px); opacity:1.0 }
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 2% 10% 5% 10%;
}
.btnRegister{
    float: right;
    margin-top: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}



/* Card Flipping CSS */
.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.card {
    margin: 40px;
}

.card-container {
    perspective: 700px;
}

.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: 400px;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 3;
}

.card-flip .back {
    position: relative;
    top: -300px;
    z-index: 2;
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}


/*Nav bar stuff*/

.navigationWrapper {
    position: relative;
    margin-left:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 30px 100px !important;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: #000000;
    /*text-transform: uppercase;*/
    overflow: hidden;
    width: 85%;
    height: 250px;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navigation {
    display: flex;
    list-style-type: none;
}

li {
    opacity: 1;
    list-style-type: none;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.clickable {
    padding: 0 10px;
    cursor: pointer;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
}


li a {
    font-size: 30px;
    padding: 0 5px;
}

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
        margin-bottom: 400px;
    }
    .footer {
        height: 400px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-top: 60px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration:none;
}

footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

